/* ===============================================================
   Global styles of web-application
   =============================================================== */

/* Web-pages */
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
    font: normal 12px Arial, Helvetica, sans-serif;
}
  
/* Web-pages background */
body {
    background: linear-gradient( rgba(187,187,187,0.3), transparent 1px), linear-gradient( 90deg, rgba(187,187,187,0.3), transparent 1px);
    background-size: 12px 12px;
    background-position: center center;
}

/* Invisible element for filtering nested DOM's elements for various conditions */
div {
    margin: 0;
    padding: 0;
}

/* Header styles */
h3 {
    margin: 0;
    padding: 0;
    font: bold 12px "Arial Black", Gadget, sans-serif;
    color: rgb(105,105,105);
}
h4 {
    margin: 5px 0;
    padding: 1px;
    font: italic 12px Arial, Helvetica, sans-serif;
    color: rgb(105,105,105);
    text-align: justify;
}

/* ===============================================================
   Styles of horizontal nav-toolbars with forms blocks inside
   =============================================================== */
header {
    /*position:fixed;*/
}
nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}
#language-help-form {
    flex-grow: 1;
}
#status-form {
    flex-grow: 100;
}
#statistic-form {
    flex-grow: 1;
}
#view-form {
    flex-grow: 1;
}
#task-form {
    flex-grow: 100;
}

/* ===============================================================
   Common forms styles
   =============================================================== */
form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    background: rgba(242,242,242,1);
    border: dotted rgba(187,187,187,1) 1px;
    border-radius: 5px;
    padding: 1px;
    margin: 0 0 3px 0;
    font: normal 12px Arial, Helvetica, sans-serif;
}
form * {
    font: normal 12px Arial, Helvetica, sans-serif;
    margin: 1px 3px;
}
input, select, button {
    height:20px;
    box-sizing: border-box;
}
.img-control {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    margin: 0 -1px 0 1px;
}
label.clickable {
    text-decoration: underline;
    margin-right: 6px;
}
label.clickable:hover {
    cursor: pointer;
}
button.magnetic {
    margin-left: -4px;
}
label.magnetic {
    margin-left: -2px;
}
.tag {
    background: rgba(242,242,242,1);
    border: dotted rgba(187,187,187,1) 1px;
    border-radius: 5px;
    padding: 2px;
    margin: 1px 0;
}

/* ===============================================================
   Styles of "tasks" mode
   =============================================================== */
#tasks-section {
    display: flex;
    flex-wrap: nowrap;
}
@media (max-width: 899px) { 
    #tasks-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    article.tasks-column {
    }
}
@media (min-width: 900px) { 
    #tasks-section {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
    article.tasks-column {
        flex-basis: 20%;
    }
}
article.tasks-column {
    padding: 2px;
    text-align: justify-all;
    flex-grow: 1;
}

/* ===============================================================
   Styles of common columns
   =============================================================== */
.today-tasks {
    background-color:rgba(251,180,174, 0.5);
}
.assigned-to-me-tasks {
    background-color:rgba(254,217,166, 0.5);
}
.my-tasks {
    background-color:rgba(204,235,197, 0.5);
}
.assigned-by-me-tasks {
    background-color:rgba(179,205,227, 0.5);
}
.draft-tasks {
    background-color:rgba(222,203,228, 0.5);
}
.today-task {
    border: dotted rgba(128,128,128,1) 1px;
    border-radius: 3px;
    padding: 3px;
    margin: 0;
}
p.today-delimiter {
    height: 16px;
    background-image: linear-gradient(135deg, rgba(204,204,204,0.3) 25%, rgba(176,176,176,0.3) 25%, rgba(176,176,176,0.3) 50%, rgba(204,204,204,0.3) 50%, rgba(204,204,204,0.3) 75%, rgba(176,176,176,0.3) 75%, rgba(176,176,176,0.3) 100%),
                      linear-gradient(45deg, rgba(204,204,204,0.3) 25%, rgba(176,176,176,0.3) 25%, rgba(176,176,176,0.3) 50%, rgba(204,204,204,0.3) 50%, rgba(204,204,204,0.3) 75%, rgba(176,176,176,0.3) 75%, rgba(176,176,176,0.3) 100%);
    background-size: 6px 6px;
    margin: 0;
    cursor: move;
    text-align: right;
}
img.delimiter {
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    margin: 0 3px 0 0;
    cursor: pointer;
}
article.project {
    margin: 1px;
    padding: 2px; 
    border: dotted rgba(0,0,0,1) 1px;
    border-radius: 3px;
}

/* ===============================================================
   Styles of "projects" mode
   =============================================================== */
#projects-section {
    display: flex;
    flex-wrap: nowrap;
}
@media (max-width: 899px) { 
    #projects-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    article.projects-column {
    }
}
@media (min-width: 900px) { 
    #projects-section {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
    article.projects-column {
        flex-basis: 20%;
    }
}
article.projects-column {
    flex-grow: 0;
    flex-shrink: 0;
}

/* ===============================================================
   Styles of "powerpoint" mode
   =============================================================== */
#powerpoint-section {
    display: flex;
    flex-wrap: nowrap;
}
@media (max-width: 899px) { 
    #powerpoint-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    article.powerpoint-column {
    }
}
@media (min-width: 900px) { 
    #powerpoint-section {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
    article.powerpoint-column {
        flex-basis: 20%;
    }
}
article.powerpoint-column {
    flex-grow: 0;
    flex-shrink: 0;
}
table.project {
    margin: 1px; 
    padding: 2px; 
    border: dotted rgba(0,0,0,1) 1px;
    border-radius: 3px;
    width: 100%;
}
thead {
    font: bold 14px Arial, Helvetica, sans-serif;
}

/* ===============================================================
   Styles of "revisions" mode
   =============================================================== */
#revisions-section {
    display: flex;
    flex-wrap: nowrap;
}
@media (max-width: 899px) { 
    #revisions-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    article.revisions-column {
    }
}
@media (min-width: 900px) { 
    #revisions-section {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
    article.revisions-column {
        flex-basis: 33%;
    }
}
article.revisions-column {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
article.header-panel {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
article.sub-tasks-column {
    padding: 2px;
    text-align: justify-all;
    flex-grow: 0;
}
article.header-panel * {
    margin: 0 1px 0 5px;
}
.space {
    flex-grow: 100;
}

/* ===============================================================
   Styles of tasks records
   =============================================================== */
p {
    margin: 5px 0 0 0;
    padding: 0;
    text-align: justify;
}
span.project:hover,
span.employee:hover,
span.delimiter:hover,
span.content:hover,
span.term:hover,
span.powerpoint-task, 
img.icon:hover,
img.private:hover {
	cursor: pointer;
}
.done-and-verified {
	text-decoration: line-through;
	text-decoration-style: double;
	text-decoration-color: rgba(0,128,0);
	-webkit-text-decoration-style: double;
	-webkit-text-decoration-color: rgba(0,128,0);
    opacity: 0.3;
}
.moved {
	text-decoration: line-through;
	text-decoration-style: wavy;
	text-decoration-color: rgba(128,128,128);
	-webkit-text-decoration-style: wavy;
	-webkit-text-decoration-color: rgba(128,128,128);
    opacity: 0.3;
}
.canceled {
	text-decoration: line-through;
	text-decoration-style: solid;
	text-decoration-color: rgba(255,0,0);
	-webkit-text-decoration-style: solid;
	-webkit-text-decoration-color: rgba(255,0,0);
    opacity: 0.3;
}
.draft {
    color: rgb(128,128,128);
}
img.icon {
    display: inline-block;
    vertical-align: text-top;
    height: 16px;
    margin: -1px 2px 0 0;
    padding: 0 0 0 2px;
}
img.private {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
},
span.employee {
    color: rgba(0,0,255,1.0);
}
span.project {
    color: rgba(139,69,19,1.0);
}
.term {
    color: rgba(0,128,0,1.0)
}
.overdue {
    color: rgba(255,0,0,1.0)
}
.task-dragged{
    border: dotted rgba(0,0,0,1) 1px;
    border-radius: 3px;
}

/* ===============================================================
   Styles of horizontal footers
   =============================================================== */
footer {
    text-align: right;
}
.footer,
a.footer:link,
a.footer:visited,
a.footer:hover,
a.footer:active {
    color: rgb(196,196,196);
}

/* ===============================================================
   Styles for spinner rotation
   =============================================================== */
.sk-fading-circle {
    display: inline-block;
    vertical-align: middle;
    margin: 1px 0px 0px 4px;
    padding: 0px 0px 0px 0px;
    width: 18px;
    height: 18px;
    position: relative;
}
.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}
@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
}

/* ===============================================================
   Styles for autocoplete inputs
   =============================================================== */
.vue-simple-suggest.designed {
    position: relative;
}
.vue-simple-suggest.designed, .vue-simple-suggest.designed * {
    box-sizing: border-box;
}
.vue-simple-suggest.designed .input-wrapper input {
    display: block;
    width: 100%;
    /*padding: 2px;*/
    /*border: 0.5px solid #a9a9a9;
    border-radius: 3px;*/
    /*color: black;
    background: white;*/
    /*outline:none;*/
    /*transition: all .1s;
    transition-delay: .05s*/
}
/*.vue-simple-suggest.designed.focus .input-wrapper input {
    border: 1px solid #aaa;
}*/
.vue-simple-suggest.designed .suggestions {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    /*top: calc(100% + 5px);*/
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: #fff;
    opacity: 1;
    z-index: 1000;
}
.vue-simple-suggest.designed .suggestions .suggest-item {
    cursor: pointer;
    user-select: none;
}
.vue-simple-suggest.designed .suggestions .suggest-item,
.vue-simple-suggest.designed .suggestions .misc-item {
    padding: 1px 2px;
}
.vue-simple-suggest.designed .suggestions .suggest-item.hover {
    background-color: #2874D5 !important;
    color: #fff !important;
}
.vue-simple-suggest.designed .suggestions .suggest-item.selected {
/*    background-color: #2832D5;
    color: #fff;*/
  }